@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal

  }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal  
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto.ttf);
  font-weight: 400;
  font-style: normal  
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal  
}
@font-face {
  font-family: 'Gilam';
  src: url(../fonts/Gilam.ttf);
  font-weight: 900;
  font-style: normal  
}  
